Backend/.env
Backend/checkpoints.db
Backend/ranked_postings.json
Backend/raw_postings.json
Backend/review_queue.json
Backend/gcp-oauth-web.json
.venv

Backend/test_full_pipeline.py

Gmail-MCP-Server/node_modules/
Gmail-MCP-Server/dist/
Gmail-MCP-Server/npm-debug.log*

Frontend/node_modules/
Frontend/dist/
Frontend/.env